
@import '../../../shared-styles.scss';

#MyChart {
    display:block;
    width: 300px;
    height: 300px;
}

.chart-container {
    right: -162%;
    top: 6vw;
    right: -31vw;
    width: 411px;
    height: 411px;
    position: absolute;
}