.vertical-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 44px)
  }
  
  .home-container {
    justify-content: space-between;
  }
  
  .search-container {
    justify-content: center;
  }