@import "../shared-styles.scss";

html, body {
  height: 100%;
  margin: 0;
}

.app-meowville {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header-container {
  flex: 0 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 34px;
  margin-bottom: 34px;
  position: relative;
}

.header-img {
  max-width: 33%;
  height: auto;
}

.content-container {
  flex: 1; 
  overflow-y: auto;
  margin: 0;
}

.app-footer-container {
  flex: 0 0 auto; 
}

.back-btn {
  width: 60px;
  height: 60px;
  background-color: $lightpink;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 30px;
  border-radius: 30px;
  font-size: 30px;
  line-height: 30px;
  font-size: inherit;
}

.back-btn:hover {
  background-color: $darkpink;
}