@import "../../../shared-styles.scss";

.details-container {
  display: flex;
  width: 100%;
  height: calc(100% - 44px);
  justify-content: space-evenly;
  align-items: center;
  padding: 0 36px 0 36px;
  overflow-y: auto;
}

.breed-information,
.breed-image,
.breed-personality {
  width: 33%;
  height: 100%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bg-grey {
  @extend .outline;

  background-color: rgba(214, 214, 214, 0.193);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.card-image {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.breed-name {
  font-size: 75px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

.breed-name,
.breed-description {
  text-align: left;
}


.division-line {
  border-bottom: 1px solid #565555;
  top: 2px;
}

.info-card {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


h3 {
  font-size: 1.25rem !important;
}