@import "../../../shared-styles.scss";

.example-card {
  @extend .outline;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(214, 214, 214, 0.193);
  left: 40vw;
  position: absolute;
}

.image-description-container {
  display: flex;
  justify-content: center;
}

.card-image {
  max-height: 611px;
  max-width: 386px;
  width: auto;
  padding-bottom: 15px;
}

.breed-name {
  font-size: 75px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

.breed-name,
.description {
  text-align: left;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  max-width: 25%;
  top: 34%;
  position: absolute;
  left: 6vw;
}

.division-line {
  border-bottom: 1px solid #565555;
  top: 2px;
}

.info-card {
  max-width: 21vw;
  max-height: 21vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px 20px;
  background-color: $lightpink;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: $darkpink;
}

h3 {
  font-size: 1.25rem !important;
}
