@import "../../../shared-styles.scss";

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  position: relative;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: $lightpink;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: $darkpink;
}

.no-results {
  font-size: 2em;
  color: $lightpink;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint {
  position: absolute;
  bottom: -30px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
  animation: fadeInOut 5s ease-in-out forwards; /* Adjust duration to your preference */
  font-style: italic;
  color: grey;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
