.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(255, 91, 104);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color:  rgb(255, 52, 69);
  }
  