.carousel-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: black;
}

.carousel-item-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d3d3d3;
}

.cat-image {
  width: 400px;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.cat-statement {
  width: 2/3;
  display: flex;
  flex-direction: column;
}

.cat-statement-description {
  font-size: 36px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cat-statement-author {
  width: 100%;
  font-size: 22px;
  text-align: right;
}