$lightpink: rgb(255, 91, 104);
$darkpink: rgb(255, 52, 69);

body {
  background-color: #fff4f6;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 520px;
  height: auto;
}
